# Python virtual environment
venv/
.venv/
env/

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Databases
data/*.db
*.sqlite3

# Environment variables & secrets
.env
*.env

# IDE & Editor settings
.vscode/
.idea/
*.swp
*.swo
